@import url(global.css);
@import url(header.css);
@import url(main.css);

body{
    background-color: var(--bg-color);
}

hr {
  border: none;
  border-top: 1px solid var(--stroke-color);
}

@media (max-width: 768px) {
  .algum-grid {
    grid-template-columns: 1fr;
  }
}